apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: paulc-test-1
  region: us-east-1

vpc:
  clusterEndpoints:
    publicAccess:  true
    privateAccess: true

nodeGroups:
  - name: default
    desiredCapacity: 3
    privateNetworking: true
    availabilityZones: ["us-east-1a","us-east-1b","us-east-1c"]
    instanceType: c5d.2xlarge
    amiFamily: Ubuntu2004
    ssh:
      allow: true
      publicKeyName: paulc-redpanda
    iam:
      withAddonPolicies:
        externalDNS: true

