apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: paulc-test-1
  region: us-west-1

addons:
- name: aws-ebs-csi-driver
  wellKnownPolicies:      # add IAM and service account
    ebsCSIController: true  
vpc:
  clusterEndpoints:
    publicAccess:  true
    privateAccess: true

nodeGroups:
  - name: default
    desiredCapacity: 3
    ssh:
      allow: true
      publicKeyName: paulc-redpanda
    iam:
      withAddonPolicies:
        externalDNS: true
        ebs: true

